.items-list {
  height: 400px;
  overflow-y: auto;
}

.main-logo {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.header-block {
  height: 200px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.header-block h1 {
  margin-top: 120px;
}

.TrackingDiv {
  background-color: white;
  padding: 25px;
  border-radius: 25px;
}
